<template>

  <img src="../assets/Logo.svg" alt="VeloBrühl Logo">

  <p class="title">Verfügbar in:</p>

  <div id="clockdiv">
    <div class="unit">
      <p>Tage</p> 
      <span class="days"></span>
    </div>

    <div class="unit">
      <p>Stunden</p> 
      <span class="hours"></span>
    </div>

    <div class="unit">
      <p>Minuten</p> 
      <span class="minutes"></span>
    </div>

    <div class="unit">
      <p>Sekunden</p> 
      <span class="seconds"></span>
    </div>
  </div>

  <p class="callToAction">Besuchen Sie unsere Website um mehr zu erfahren!</p>
  <button @click="openLink" id="action">Besuchen</button>

</template>

<script>
// @ is an alias to /src
import { Browser } from '@capacitor/browser';
import { Capacitor } from '@capacitor/core';
import {
  PushNotifications
} from '@capacitor/push-notifications';

export default {
  name: 'Home',
  data() {
    return {
      deadline: '2021-08-02'
    }
  },
  methods: {
    getTimeRemaining(endtime) {
      const total = Date.parse(endtime) - Date.parse(new Date());
      const seconds = Math.floor( (total/1000) % 60 );
      const minutes = Math.floor( (total/1000/60) % 60 );
      const hours = Math.floor( (total/(1000*60*60)) % 24 );
      const days = Math.floor( total/(1000*60*60*24) );

      return {
        total,
        days,
        hours,
        minutes,
        seconds
      }
    },
    initializeClock(id, endtime) {
        const clock = document.getElementById(id);

        const daysSpan = clock.querySelector('.days');
        const hoursSpan = clock.querySelector('.hours');
        const minutesSpan = clock.querySelector('.minutes');
        const secondsSpan = clock.querySelector('.seconds');

        const timeinterval = setInterval(() => {
        
        // Get time
        const t = this.getTimeRemaining(endtime);

        // Display
        daysSpan.innerHTML = ('0' + t.days).slice(-2);
        hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
        minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
        secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);


        if (t.total <= 0) {
          clearInterval(timeinterval);
        }
      },1000);
    },
    async openLink() {
      await Browser.open({ url: 'https://velo-bruehl.de' });
    }
  },
  mounted() {
    this.initializeClock('clockdiv', this.deadline);
    const isAvailable = Capacitor.isPluginAvailable('PushNotifications');

    if(isAvailable) {
      // Request permission to use push notifications
      // iOS will prompt user and return if they granted permission or not
      // Android will just grant without prompting
      PushNotifications.requestPermissions().then(result => {
        if (result.receive === 'granted') {
          // Register with Apple / Google to receive push via APNS/FCM
          PushNotifications.register();
        } 
      });
    }
  }
}
</script>

<style scoped>
  img {
    width: 70%;
    height: auto;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 36px;
    font-weight: 900;
    width: 100%;
    text-align: center;
  }

  p, span {
    margin: 0;
    font-size: 36px;
    font-weight: 800;
  }

  span {
    color: #ffcd95;
  }

  p {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
  }

  .unit {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 25%;
  }

  #clockdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 95%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .callToAction {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  #action {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 150px;
    height: 40px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 800;
    background-color: #ffcd95;
  }

  @media screen and (max-height: 580px) {
    #action {
      top: 85%;
    }
  }

  @media screen and (min-width: 480px) {
    p {
      font-size: 24px;
    }

    .title {
      font-size: 48px;
    }

    img {
      width: 50%;
    }

    span {
      font-size: 64px;
    }

    .callToAction {
      font-size: 28px;
    }

    #action {
      width: 200px;
      height: 55px;
      font-size: 24px;
    }
  }
</style>