<template>
  <router-view/>
</template>

<style>

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap');

#app, button {
  font-family: 'Nunito', sans-serif;
}

#app {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #30c285;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

</style>
